<div class="row">
  <div class="col-md-3">
    <h3>Categories</h3>
    <hr />
    <div class="list-group">
      <a href="#" class="list-group-item ">HTML</a>
      <a href="#" class="list-group-item">CSS</a>
      <a href="#" class="list-group-item">Javascript</a>
      <a href="#" class="list-group-item">Bootstrap</a>
      <a href="#" class="list-group-item">Node</a>
      <a href="#" class="list-group-item">Jquery</a>
      <a href="#" class="list-group-item">Databases</a>
      <a href="#" class="list-group-item">Angular</a>
    </div>
  </div>
</div>
